* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: rgb(128, 126, 126);
}

#title {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	font-size: 5em;
	opacity: 0;
}

.calc-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* 
	Vertical center 
	https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ 
	*/
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 1px solid;
	border-radius: 15px;

	background-color: rgb(42, 95, 44);;
}

/* #### DISPLAY #### */
.screen-container {
	/* recall both grid and flexbox have strict parent child dependencies  */
	display: flex;
	margin-left: 17px;
	margin-right: 17px;
	margin-top: 17px;
	border: none;
	justify-content: space-around;
}

.operator {
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	color: rgb(255, 255, 255);
	border-radius: 7px;
	background-color: rgb(53, 161, 56);
	padding: 2px 2px;
	margin-left: 5px;
	width: 25px;
	height: 38px;
}

input.display{
	flex-grow: 1;
	font-size: 21px;
	font-weight: 700;
	text-align: right;
	white-space: nowrap;
	color: white;
	border: none;
	background-color: rgb(53, 161, 56);
	/* Remember that padding is inside element and margin is outside of element */
	padding-right: 5px;
	border-radius: 7px;
}


/* #### INPUTS #### */
.number-container{
	grid-area: main;
	display: grid;
	grid-template: repeat(3, 1fr)/ repeat( 3, 1fr);
	column-gap: 7px;
	row-gap: 7px;
}

.zero {
	grid-column: span 2;
}

.function-container.right {
	grid-area: side;
	display: grid;
	grid-template-columns: 2;
	column-gap: 7px;
	row-gap: 7px;
}

.function-container.top {
	grid-area: topRow;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 7px;
	row-gap: 7px;
}

.input-container{
	display: grid;
	grid-template: repeat(1, 1fr) / repeat(4, 1fr);
	grid-template-areas: 
		"topRow topRow topRow topRow"
		"main main main side"
		"main main main side"
		"main main main side"
		"main main main side";
	column-gap: 7px;
	row-gap: 7px;
	margin: 10px 10px;
}

.btn {
	background-color: rgb(53, 161, 56);
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	font-size: 16px;
	border-radius: 7px;
}

.btn:hover, .display:hover {
	box-shadow: 0 1px 6px rgba(248, 249, 250, 0.28);
}

.dot, .subtract, .equal, .divide, .multiply, .add {
	font-weight: 900;
}

.clear {
	font-weight: 700;
}

.func {
	color: rgb(151, 23, 141);
	background-color: rgb(39, 192, 39);
}
